body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Karla';
  src: url('../src/fonts/Karla.ttf') format('truetype');
}

@font-face {
  font-family: 'Markazi Text';
  src: url('../src/fonts/MarkaziText.ttf') format('truetype');
}

nav {
  background-color: aliceblue;
  padding: 2rem;
}

nav a {
  margin-right: 1rem;
}

nav a.active {
  text-decoration: none;
  font-weight: bold;
}